apiVersion: apps/v1
kind: Deployment
metadata:
  name: scrapper-deployment
spec:
  replicas: 1
  selector:
    matchLabels:
      service: scrapper-service
  template:
    metadata:
      labels:
        service: scrapper-service
    spec:
      containers:
        - name: scrapper-service
          image: mikhail21/scrapper-service:latest
          ports:
            - containerPort: 4000
          env:
            - name: SCRAPPER_DB_HOST
              value: 'db-cluster-ip-service.default'
            - name: STAGE
              value: dev
            - name: SCRAPPER_WORKER_HOST
              value: 'scrapper-worker-cluster-ip-service.default:4002'
