version: "2.6"

services:
  scrapper-db:
    image: mongo:latest
    ports:
      - 27017:27017
    volumes:
      - ../../db/data:/data/db
    container_name: scrapper-db
    command: mongod
    healthcheck:
      test: echo 'db.runCommand("ping").ok' | mongo mongo:27017/test --quiet
      interval: 10s
      timeout: 10s
      retries: 5
      start_period: 40s
    restart: always
    networks:
      - scrapper-network

  scrapper-service:
    build:
      context: ../../
      dockerfile: scrapper/Dockerfile
    image: mikhail21/scrapper-service:latest
    environment:
      - STAGE=dev # dev
      - SCRAPPER_DB_HOST=scrapper-db:27017
    volumes:
      - ../../scrapper:/usr/scrapper
      - ../../shared:/usr/shared
    ports:
      - 4000:4000
    container_name: scrapper-service
    healthcheck:
      test: curl -f localhost:4000/healthy
      interval: 10s
      timeout: 10s
      retries: 3
    depends_on:
      - scrapper-db
    networks:
      - scrapper-network

  scrapper-api:
    build:
      context: ../../
      dockerfile: api/Dockerfile
    image: mikhail21/scrapper-api:latest
    environment:
      - STAGE=dev # dev / prod
      - SCRAPPER_DB_HOST=scrapper-db:27017
    volumes:
      - ../../shared:/usr/shared
      - ../../api:/usr/api
    ports:
      - 4001:4001
    container_name: scrapper-api
    healthcheck:
      test: curl -f localhost:4001/healthy
      interval: 10s
      timeout: 10s
      retries: 3
    depends_on:
      - scrapper-db
      - scrapper-service
    networks:
      - scrapper-network

  scrapper-client-dev:
    build:
      context: ../../client
      dockerfile: Dockerfile-dev # Dockerfile-dev
    image: mikhail21/scrapper-client-dev:latest
    ports:
      - 3000:3000
    volumes:
      - ../../shared:/usr/shared
      - ../../client:/usr/client
    container_name: scrapper-client-dev
    healthcheck:
      test: curl -f localhost:3000/healthy
      interval: 10s
      timeout: 10s
      retries: 3
    depends_on:
      - scrapper-api
    networks:
      - scrapper-network

  scrapper-client-prod:
    build:
      context: ../../client
      dockerfile: Dockerfile-prod # Dockerfile-dev
    image: mikhail21/scrapper-client-prod:latest
    ports:
      - 8080:80
    container_name: scrapper-client-prod
    healthcheck:
      test: curl -f localhost:8080/healthy
      interval: 10s
      timeout: 10s
      retries: 3
    depends_on:
      - scrapper-api
    stdin_open: true
    tty: true
    networks:
      - scrapper-network

networks:
  scrapper-network:
    driver: bridge
